<form asp-action="Index">
    <label for="Fullname">Tên:</label>
    <input type="text" id="Fullname" name="Fullname" />

    <label for="City">Thành phố:</label>
    <input type="text" id="City" name="City" />

    <input type="submit" value="Gửi" />
</form>

<h1>@ViewBag.thongBao</h1>
